# Libraries

In [197]:
import pandas as pd
import numpy as np
from scipy.io import arff
from IPython.display import HTML, display
import re

# DataSet import

In [207]:
#on lit le fichier au format arff
data = arff.loadarff('3year.arff')
df = pd.DataFrame(data[0])

In [208]:
#affichage au format HTML
#display(HTML(df.to_html()))

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10503 entries, 0 to 10502
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Attr1   10503 non-null  float64
 1   Attr2   10503 non-null  float64
 2   Attr3   10503 non-null  float64
 3   Attr4   10485 non-null  float64
 4   Attr5   10478 non-null  float64
 5   Attr6   10503 non-null  float64
 6   Attr7   10503 non-null  float64
 7   Attr8   10489 non-null  float64
 8   Attr9   10500 non-null  float64
 9   Attr10  10503 non-null  float64
 10  Attr11  10503 non-null  float64
 11  Attr12  10485 non-null  float64
 12  Attr13  10460 non-null  float64
 13  Attr14  10503 non-null  float64
 14  Attr15  10495 non-null  float64
 15  Attr16  10489 non-null  float64
 16  Attr17  10489 non-null  float64
 17  Attr18  10503 non-null  float64
 18  Attr19  10460 non-null  float64
 19  Attr20  10460 non-null  float64
 20  Attr21  9696 non-null   float64
 21  Attr22  10503 non-null  float64
 22  Attr23  10460 non-null  float64
 23  Attr24  10276 non-null  float64
 24  Attr25  10503 non-null  float64
 25  Attr26  10489 non-null  float64
 26  Attr27  9788 non-null   float64
 27  Attr28  10275 non-null  float64
 28  Attr29  10503 non-null  float64
 29  Attr30  10460 non-null  float64
 30  Attr31  10460 non-null  float64
 31  Attr32  10402 non-null  float64
 32  Attr33  10485 non-null  float64
 33  Attr34  10489 non-null  float64
 34  Attr35  10503 non-null  float64
 35  Attr36  10503 non-null  float64
 36  Attr37  5767 non-null   float64
 37  Attr38  10503 non-null  float64
 38  Attr39  10460 non-null  float64
 39  Attr40  10485 non-null  float64
 40  Attr41  10301 non-null  float64
 41  Attr42  10460 non-null  float64
 42  Attr43  10460 non-null  float64
 43  Attr44  10460 non-null  float64
 44  Attr45  9912 non-null   float64
 45  Attr46  10485 non-null  float64
 46  Attr47  10417 non-null  float64
 47  Attr48  10503 non-null  float64
 48  Attr49  10460 non-null  float64
 49  Attr50  10489 non-null  float64
 50  Attr51  10503 non-null  float64
 51  Attr52  10417 non-null  float64
 52  Attr53  10275 non-null  float64
 53  Attr54  10275 non-null  float64
 54  Attr55  10503 non-null  float64
 55  Attr56  10460 non-null  float64
 56  Attr57  10503 non-null  float64
 57  Attr58  10474 non-null  float64
 58  Attr59  10503 non-null  float64
 59  Attr60  9911 non-null   float64
 60  Attr61  10486 non-null  float64
 61  Attr62  10460 non-null  float64
 62  Attr63  10485 non-null  float64
 63  Attr64  10275 non-null  float64
 64  class   10503 non-null  object
dtypes: float64(64), object(1)
memory usage: 5.2+ MB

In [210]:
df.nunique()

Attr1      9948
Attr2      9806
Attr3      9947
Attr4      9425
Attr5     10186
          ...
Attr61     9708
Attr62     9688
Attr63     9767
Attr64     9635
class         2
Length: 65, dtype: int64

In [211]:
df.count()

Attr1     10503
Attr2     10503
Attr3     10503
Attr4     10485
Attr5     10478
          ...
Attr61    10486
Attr62    10460
Attr63    10485
Attr64    10275
class     10503
Length: 65, dtype: int64

In [212]:
df.isnull().any()

Attr1     False
Attr2     False
Attr3     False
Attr4      True
Attr5      True
          ...
Attr61     True
Attr62     True
Attr63     True
Attr64     True
class     False
Length: 65, dtype: bool

In [213]:
# j'enl√®ve les colonnes avec des nan
df.dropna(inplace = True) 
df.isnull().any()

Attr1     False
Attr2     False
Attr3     False
Attr4     False
Attr5     False
          ...
Attr61    False
Attr62    False
Attr63    False
Attr64    False
class     False
Length: 65, dtype: bool

In [214]:
df.count()

Attr1     4885
Attr2     4885
Attr3     4885
Attr4     4885
Attr5     4885
          ...
Attr61    4885
Attr62    4885
Attr63    4885
Attr64    4885
class     4885
Length: 65, dtype: int64

In [215]:
colonne = list()
with open('map_coluns.txt') as f:
    lines = f.readlines()
    colonne = lines

In [220]:
colonne = [re.sub("X\d{1,3} ","",x) for x in colonne]
colonne = [re.sub("\n","",x) for x in colonne]
colonne.append("class")

In [221]:
df.set_axis(colonne, axis=1, inplace=True)
df

,net profit / total assets,total liabilities / total assets,working capital / total assets,current assets / short-term liabilities,[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365,retained earnings / total assets,EBIT / total assets,book value of equity / total liabilities,sales / total assets,equity / total assets,...,(sales - cost of products sold) / sales,(current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation),total costs /total sales,long-term liabilities / equity,sales / inventory,sales / receivables,(short-term liabilities *365) / sales,sales / short-term liabilities,sales / fixed asset,class
0,0.174190,0.412990,0.143710,1.34800,-28.982,0.603830,0.219460,1.122500,1.19610,0.463590,...,0.163960,0.375740,0.83604,0.000007,9.7145,6.2813,84.2910,4.3303,4.0341,b'0'
3,0.024526,0.432360,0.275460,1.78330,-10.105,0.569440,0.024526,1.305700,1.05090,0.564530,...,0.048398,0.043445,0.95160,0.142980,4.2286,5.0528,98.7830,3.6950,3.4844,b'0'
4,0.188290,0.415040,0.342310,1.92790,-58.274,0.000000,0.233580,1.409400,1.33930,0.584960,...,0.176480,0.321880,0.82635,0.073039,2.5912,7.0756,100.5400,3.6303,4.6375,b'0'
6,0.115030,0.036659,0.923450,112.63000,55.580,0.000000,0.142150,26.279000,0.44339,0.963340,...,0.067038,0.119400,0.75777,0.015995,18.4330,41.7830,6.8102,53.5960,6.4942,b'0'
7,0.009832,0.670660,0.135460,1.23930,-107.730,-0.001401,0.013422,0.491080,1.18250,0.329340,...,0.197800,0.029854,0.83478,0.143940,8.1813,4.0084,174.7300,2.0889,3.9616,b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10476,0.003603,0.824060,-0.049051,0.89208,-111.350,0.000000,0.008453,0.213440,0.87744,0.175890,...,0.030310,0.020487,0.94317,1.477100,4.6339,6.9992,189.0600,1.9306,1.4759,b'1'
10490,0.180780,1.014800,-0.118940,0.86624,-61.124,-7.664900,0.186250,-0.014645,3.38170,-0.014862,...,0.155020,-12.164000,0.76623,-1.507300,7.3109,21.9700,95.9790,3.8029,14.7300,b'1'
10493,-0.019241,0.698810,0.050157,1.25360,-12.669,0.000000,-0.020521,0.431000,1.56360,0.301190,...,0.017165,-0.063883,1.02570,1.296700,15.2820,11.5440,46.1730,7.9051,2.0792,b'1'
10495,0.062089,0.768410,-0.188140,0.64101,-39.505,0.000000,0.062089,0.301390,3.17260,0.231590,...,0.046701,0.268100,0.96936,0.667000,23.1010,17.7740,60.2940,6.0537,4.7776,b'1'
10502,-0.001775,0.947800,0.003729,1.00450,-50.221,0.000000,0.002565,0.055122,2.12680,0.052245,...,0.023492,-0.033971,0.97208,2.398500,7.5512,3.9960,141.1600,2.5857,12.2250,b'1'

# Target treatment

In [169]:
#on voit les diff√©rentes valeurs de la target
df["class"].unique()

array([b'0', b'1'], dtype=object)

In [170]:
#nb valeur de la classe 0
nbc1 = len(df[df["class"] == df["class"].unique()[0]])
nbc1

4778

In [171]:
#nb valeur de la classe 1
nbc2 = len(df[df["class"] == df["class"].unique()[1]])
nbc2

107

In [172]:
Pourcentage1 = len(df[df["class"] == df["class"].unique()[0]])/len(df)
Pourcentage1

0.9780962128966223

In [173]:
Pourcentage2 = len(df[df["class"] == df["class"].unique()[1]])/len(df)
Pourcentage2

0.021903787103377686

In [174]:
#Mauvais equilibre, attention au mod√®le choisi

In [175]:
#On d√©finit les classes de la target
df.loc[df["class"] == df["class"].unique()[0], "bankrupt"] = 0
df.loc[df["class"] == df["class"].unique()[1], "bankrupt"] = 1
df["bankrupt"] =df["bankrupt"].astype(int) 
del df["class"]
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,bankrupt
0,0.174190,0.412990,0.14371,1.3480,-28.982,0.603830,0.219460,1.12250,1.19610,0.46359,...,0.163960,0.375740,0.83604,0.000007,9.7145,6.2813,84.2910,4.3303,4.0341,0
3,0.024526,0.432360,0.27546,1.7833,-10.105,0.569440,0.024526,1.30570,1.05090,0.56453,...,0.048398,0.043445,0.95160,0.142980,4.2286,5.0528,98.7830,3.6950,3.4844,0
4,0.188290,0.415040,0.34231,1.9279,-58.274,0.000000,0.233580,1.40940,1.33930,0.58496,...,0.176480,0.321880,0.82635,0.073039,2.5912,7.0756,100.5400,3.6303,4.6375,0
6,0.115030,0.036659,0.92345,112.6300,55.580,0.000000,0.142150,26.27900,0.44339,0.96334,...,0.067038,0.119400,0.75777,0.015995,18.4330,41.7830,6.8102,53.5960,6.4942,0
7,0.009832,0.670660,0.13546,1.2393,-107.730,-0.001401,0.013422,0.49108,1.18250,0.32934,...,0.197800,0.029854,0.83478,0.143940,8.1813,4.0084,174.7300,2.0889,3.9616,0